.profile-sidebar
  .profile-userpic
    = image_tag(@user.original_400x400_image, class: 'img-responsive')
  .profile-usertitle
    .profile-usertitle-name
      = link_to @user.name, @user.twitter
    .profile-usertitle-job
      = link_to twitter_url(@user), :target => '_blank' do
        %i.fa.fa-twitter
        = @user.twitter
    .profile-usertitle-desc
      = @user.description
  - if current_user != @user
    .profile-userbuttons
      - if current_user && current_user.following?(@user)
        %label.btn.btn-success.btn-sm Following
      - else
        %button.btn.btn-primary.btn-sm{:type => 'button'} Add to My List
  .profile-usermenu
    %ul.nav
      %li{:class => (current_page?('/') || current_page?(user_home_path(@user)) || current_page?(user_requests_path(@user))) ? 'active' : ''}
        = link_to user_home_path(@user) do
          %span.badge#member_count
            = @following.count
          = @wishlist.description
      %li{:class => current_page?(user_admirers_path(@user)) ? 'active' : ''}
        = link_to user_admirers_path(@user) do
          %span.badge
            = @admirers.count
          admirers
      %li
        %a{:href => '#'}
          %i.fa.fa-life-ring
          helped
      %li
        %a{:href => '#'}
          %i.fa.fa-heart
          hooked