.white-panel.col-lg-4.col-md-4.user_placeholder
  .thumbnail.user-tile.portfolio-item
    .row
      .placeholder-user.col-lg-10.col-lg-offset-1
        %i.fa.fa-user.fa-2x.text-muted
        %i.fa.fa-link.fa-2x
        %i.fa.fa-search.text-muted.add_person
          = "Search person"
        %i.fa.fa-plus.text-muted.add_person
          = "Add thoughts"
        %i.fa.fa-paper-plane.text-muted.add_person
          = "Publish Story"

    .caption.post-content
      .row
        .name.col-md-12.text-center
          %i.fa.fa-twitter

    .row.hero_detail
      .col-lg-12.col-md-12.col-sm-12
        .text-center.placeholder-text
          = "Choose a highlighting #Tag"
          %i.fa.fa-tag
        .emotions
          - Request::EMOTIONS.each_slice(3) do |emotions|
            .row
              - emotions.each do |emotion|
                %span.emotion.highlight.col-md-3.text-center.placeholder-text
                  = emotion
        .text-center.placeholder-text
          %i.fa.fa-plus-circle
            = "Create #YourOwnTag"
        .clearfix
        .divider
        .placeholder-text
          Express why would your hero respond to you?
        .divider
        .placeholder-text
          We have
          %span.highlight.met_before.placeholder-text
            met / not met
          &nbsp;&nbsp;before
        .divider
        .placeholder-text
          Need a Conversation? (coming soon)
        .divider
        .req_freeze.text-center
          %span
            .row
              .col-lg-9.col-lg-offset-1
                .disabled-btn.placeholder-text
                  %i.fa.fa-paper-plane
                    = "Publish"