- user = req.to_user
.col-sm-6.col-md-3{:id => "user_#{user.id}"}
  .thumbnail.user-tile.portfolio-item
    - if current_user == req.from_user
      %a.story-btn{'data-toggle' => 'modal', :href => "#user_story_#{user.id}"}
        - if req.story.blank?
          .btn.btn-warning.btn-sm
            %i.fa.fa-plus
        - else
          .btn.btn-success.btn-sm
            %i.fa.fa-book
      .btn.btn-sm.btn-danger.pull-right.remove-user.toggle-display.hide{:id => "#{req.id}"}
        %i.fa.fa-times

    = image_tag(user.original_400x400_image)
    .caption.post-content
      %h3
        .row
          .name.col-lg-10
            = link_to truncate(user.name, length: 17), user_requests_path(user)
          .tweet.col-lg-2.pull-right
            = link_to "https://twitter.com/#{user.twitter}", :target => '_blank' do
              %i.fa.fa-twitter

= render :partial => 'users/full_story_modal', :locals => {:req => req}