- user = req.to_user
.row.hero_detail{:id => "user_detail_#{req.id}"}
  .col-lg-12.col-md-12.col-sm-12
    - if current_user.present? && current_user.can_modify?(req)
      .text-center.text_muted.placeholder-text
        = "What's your #purpose?"
        %i.fa.fa-tag
      .emotions
        - if req.emotion.present? && !Request::EMOTIONS.include?(req.emotion)
          .row
            %span.emotion.highlight.col-md-12.text-center.current_emotion
              = link_to user_request_path(current_user, req, {'request[emotion]' => req.emotion}), method: :put, remote: true do
                = req.emotion

        - Request::EMOTIONS.each_slice(3) do |emotions|
          .row
            - emotions.each do |emotion|
              %span.emotion.highlight.col-md-3.text-center{:class => req.emotion.present? && req.emotion == emotion ? 'current_emotion' : ''}
                = link_to user_request_path(current_user, req, {'request[emotion]' => emotion}), method: :put, remote: true do
                  = emotion
        .text-center
          =link_to "#new_tag", "data-toggle" => "collapse", :id => 'create-new-tag' do
            %i.fa.fa-plus-circle.placeholder-text.text-center.collapse.in
              = "#Create"
          #new_tag.collapse.col-md-12
            = best_in_place req, :emotion, :url => user_request_path(current_user, req), as: :input, :place_holder => "#Create", :class => "emotion text-center current_emotion highlight", :inner_class => "bip", :activator => '#create-new-tag', :html_attrs => { :maxlength => '50' }

        .clearfix
    - else
      - if req.emotion.present?
        .emotions
          .row
            %span.highlight.current_emotion.col-md-12.text-center
              = req.emotion
    - if current_user.present? && current_user.can_modify?(req)
      .divider
      = best_in_place_if req.from_user == current_user, req, :story, :url => user_request_path(current_user, req), as: :textarea, :place_holder => "Write your message.. (100 words)", :class => "bip story", :html_attrs => { :maxlength => '200' }
    - elsif req.story.present?
      .divider
      = req.story
    - if current_user.present? && current_user.can_modify?(req)
      .divider
      .coming-soon
        Need a Conversation? (coming soon)
    - if req.reply.present?
      .divider
      .row.vertical-align
        .col-sm-4
          .reply
            = link_to user_home_path(user) do
              = image_tag(user.image, :class => 'img-circle')
        .col-sm-6.nopadding.text-center
          %i.fa.fa-quote-left
          = req.reply
          %i.fa.fa-quote-right
    .divider
    - if current_user.present? && req.from_user == current_user
      .req_freeze.text-center
        = render partial: 'requests/publish', locals: {req: req}
    - else
      .row.stats
        .col-lg-4.col-md-4.col-sm-4.views
          %span.square-badge
            = req.views.count
          View
        .col-lg-4.col-md-4.col-sm-4.likes
          = render partial: 'requests/like', locals: {req: req}
        .cl-lg-4.col-md-4.col-sm-4.helps
          = render partial: 'requests/help', locals: {req: req}
