- user = req.to_user
.row.hero_detail{:id => "user_detail_#{req.id}"}
  .col-lg-12.col-md-12.col-sm-12
    - if current_user.can_modify?(req)
      .text-center.text_muted
        Choose an emotion to convey
      .emotions
        - Request::EMOTIONS.each_slice(3) do |emotions|
          .row
            - emotions.each do |emotion|
              %span.emotion.highlight.col-md-3.text-center{:class => req.emotion.present? && req.emotion == emotion ? 'current_emotion' : ''}
                = link_to user_request_path(current_user, req, {'request[emotion]' => emotion}), method: :put, remote: true do
                  = emotion
    - else
      - if req.emotion.present?
        .emotions
          .row
            %span.highlight.current_emotion.col-md-12.text-center
              = req.emotion
    - if current_user.can_modify?(req)
      .divider
      = best_in_place_if req.from_user == current_user, req, :story, :url => user_request_path(current_user, req), as: :textarea, :place_holder => 'Specify why did you express the emotion above. You bet, it will make your Hero feel special.', :class => "bip story #{req.story.blank? ? 'placeholder-text' : ''}", :html_attrs => { :maxlength => '200' }
    - elsif req.story.present?
      .divider
      = req.story
    - if current_user.can_modify?(req)
      .divider
      We have
      = best_in_place req, :met_before, :url => user_request_path(current_user, req), as: :checkbox, collection: {false: 'met', true: 'never met'}, :class => 'bip highlight'
      before
    - if current_user.can_modify?(req)
      .divider
      .coming-soon
        Need a Conversation? (coming soon)
    .divider
    - if req.from_user == current_user
      .req_freeze.text-center
        = render partial: 'requests/publish', locals: {req: req}
    - else
      .row.stats
        .col-lg-4.col-md-4.col-sm-4.views
          %span.square-badge
            = req.views.count
          View
        .col-lg-4.col-md-4.col-sm-4.likes
          = render partial: 'requests/like', locals: {req: req}
        .cl-lg-4.col-md-4.col-sm-4.helps
          = render partial: 'requests/help', locals: {req: req}
