- user = req.to_user
.white-panel.col-lg-4.col-md-4{:id => "user_#{user.id}"}
  .thumbnail.user-tile.portfolio-item
    - if current_user == req.from_user && current_user.can_publish?(req)
      .btn.btn-sm.btn-danger.pull-right.remove-user.toggle-display.hide{:id => "#{req.id}"}
        %i.fa.fa-times

    = image_tag(user.original_400x400_image, class: 'img-responsive')
    .caption.post-content
      .row
        .name.col-lg-9.pull-left
          = link_to user.name, user_home_path(user, :referer => req)
        .tweet.col-lg-2.pull-right
          = link_to twitter_url(user), :target => '_blank' do
            %i.fa.fa-twitter
    .row.hero_detail
      .col-lg-12.col-md-12.col-sm-12
        - if req.from_user == current_user
          .text-center.prof_label
            Choose an emotion to express
          - Request::EMOTIONS.each do |emotion|
            %span.emotion.highlight{:class => req.emotion.present? && req.emotion == emotion ? 'current_emotion' : ''}
              = link_to user_request_path(current_user, req, {'request[emotion]' => emotion}), method: :put, remote: true do
                = emotion
        - else
          = "I am looking for #{req.emotion}"
        .divider
        - if req.from_user == current_user
          = best_in_place_if req.from_user == current_user, req, :story, as: :textarea, :place_holder => 'Specify why did you express the emotion above. You bet, it will make your Hero feel special.', :url => user_request_path(user, req), :class => 'bip story', :html_attrs => { :maxlength => '200' }
        - else
          = req.story.present? ? req.story : 'nothing here'
        .divider
        We have
        - if req.from_user == current_user
          = best_in_place req, :met_before, :url => user_request_path(user, req), as: :checkbox, collection: {false: 'met', true: 'never met'}, :class => 'bip highlight'
        - else
          = req.met_before? ? 'met' : 'never met'
        before
        .divider
        - if req.from_user == current_user
          .req_freeze.text-center
            = render partial: 'requests/publish', locals: {req: req}
        - else
          .row.stats
            .col-lg-4.col-md-4.col-sm-4.views
              %span.square-badge
                = req.views.count
              View
            .col-lg-4.col-md-4.col-sm-4.likes
              = render partial: 'requests/like', locals: {req: req}
            .cl-lg-4.col-md-4.col-sm-4.helps
              = render partial: 'requests/help', locals: {req: req}
            -#.col-lg-3.col-md-3.col-sm-3.add-to
              Add
              %i.fa.fa-plus-square-o
