.row.welcome-heading
  .col-xs-6.col-xs-offset-3.col-md-2.col-md-offset-5
    .profile-userpic
      = image_tag(current_user.original_400x400_image, class: 'img-responsive')
  .col-xs-12.text-center
    .title
      %strong
        = "Hi #{current_user.first_name}"
      %span.text-muted
        = ", Welcome to Request.to"

.row
  .col-md-4.col-md-offset-2.col-xs-10.col-xs-offset-1.text-center
    .my-channel
      .row
        .col-xs-12
          = form_for(current_user, :as => 'user', :url => username_path(current_user), :html => { role: 'form'}, :method => :put) do |f|
            - if current_user.errors.any?
              .row
                #error_explanation.alert.alert-danger
                  %ul
                    - current_user.errors.full_messages.each do |msg|
                      %li
                        = msg
            = f.hidden_field :handle_flag, :value => true
            .row
              .form-group.input-group.col-xs-12
                = f.text_field :handle, :autofocus => true, :value => '', class: 'form-control input-lg', :type => 'text',
                  placeholder: 'Name to your #RequestChannel'
                .help-block.text-center This is your unique identity on request.to platform

            .row
              .input-group.col-xs-12
                = f.submit 'Submit', :id => 'user_username_submit', :class => 'btn btn-white btn-lg'
      .row
        .col-xs-12
          %h4.option OR
      .row
        .col-xs-12
          = form_for(current_user, :as => 'user', :url => username_path(current_user), :html => { role: 'form'}, :method => :put) do |f|
            = hidden_field_tag :set_twitter_as_handle, true
            = f.hidden_field :handle, :value => current_user.twitter
            = f.hidden_field :handle_flag, :value => true
            .row
              .input-group.col-xs-12
                = f.submit "Use #{current_user.twitter} as #RequestChannel", :class => 'btn btn-blue btn-lg'


  .col-md-4.col-md-offset-1.col-xs-10.col-xs-offset-1
    .row
      .col-xs-12
        .channel-rules.text-muted
          %strong
            Valid?
          %ul
            %li
              = "# only alphabets or numbers allowed"
            %li
              = "# no space or special characters allowed"

    .row
      .col-xs-12
        .channel-rules.text-muted
          %strong
            Suggestions
          %ul.text-muted
            %li
              = "# First Name"
            %li
              = "# Last name"
            %li
              = "# firstLastName"
            %li
              = "# Twitter ID"
