- user = req.for
- label_color = ["info", "danger", "warning", "info", "success"]
.portfolio-modal.modal.fade{"aria-hidden" => 'true', :role => 'dialog', :tabindex => '-1', :id => "user_story_#{user.id}"}
  .modal-content
    .close-modal{'data-dismiss' => 'modal'}
      .lr
        .rl
    .container
      .modal-body
        .row
          .col-lg-10.col-lg-offset-2
            .col-lg-4
              .row
                = image_tag(user.original_image, :class => 'img-responsive .img-centered')
              .row
                %h2
                  = user.name
                %p.item-intro.text-muted
                  %i.fa.fa-twitter.fa-1x
                  =user.twitter
            .col-lg-8
              .row
                = form_for req, url: "user/#{user.id}/request/#{req.id}/update", method: :put, remote: true do |f|
                  - Request::Tags.each do |tag|
                    - color = label_color[rand(label_color.length)]
                    %p
                      = f.radio_button "pitch", tag
                      = f.label :pitch, tag, {:class => "btn btn-#{color} btn-large"}
                  = f.text_area  :story, size: "100x20", style: "border: 1px solid #eee;"

                  %button.btn.btn-primary{:type => "submit"}
                    %i.fa.fa-thumbs-up
                      Save My Story