- user = req.to_user
- label_color = %w(info danger warning info success)
.portfolio-modal.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1', :id => "user_story_#{user.id}"}
  .modal-content
    .close-modal{'data-dismiss' => 'modal'}
      .lr
        .rl
    .container
      .modal-body
        .row
          .col-lg-10.col-lg-offset-2
            .col-lg-4
              .row
                = image_tag(user.original_image, :class => 'img-responsive .img-centered')
              .row
                %h2
                  = user.name
                %p.item-intro.text-muted
                  %i.fa.fa-twitter.fa-1x
                  =user.twitter
            .col-lg-8
              .row
                = form_for([req.from_user, req], remote: true, html: {id: 'msform'}) do |f|
                  %fieldset
                    %h2.fs-title Why?
                    %h3.fs-subtitle Please choose one below
                    = f.text_field :pitch_list, {class: 'hide'}
                    - Request::Tags.each do |tag|
                      - color = label_color[rand(label_color.length)]
                      = f.label :pitch_list, tag, {:class => "pitch-btn btn btn-#{color} btn-large", id: tag}
                    -#%input.next.action-button{:name => 'next', :type => 'button', :value => 'Next'}
                  %fieldset
                    %h2.fs-title Your Message
                    %h3.fs-subtitle
                      = f.label 'You have not specified why you are reaching out', id: 'why_reaching_out'
                    = f.text_area :story, size: '100x10'
                    %input.previous.action-button{:name => 'previous', :type => 'button', :value => 'Why?'}
                    %input.submit.action-button{:name => 'submit', :type => 'submit', :value => 'Submit'}