- user = req.for
.portfolio-modal.modal.fade{"aria-hidden" => 'true', :role => 'dialog', :tabindex => '-1', :id => "user_story_#{user.id}"}
  .modal-content
    .close-modal{'data-dismiss' => 'modal'}
      .lr
        .rl
    .container
      .modal-body
        .row
          .col-lg-10.col-lg-offset-2
            .col-lg-4
              .row
                = image_tag(user.original_image, :class => 'img-responsive .img-centered')
              .row
                %h2
                  = user.name
                %p.item-intro.text-muted
                  %i.fa.fa-twitter.fa-1x
                  =user.twitter
            .col-lg-8
              .row
                = form_for req, url: request_path(req), method: :put do |f|
                  - Request::Tags.each do |tag|
                    .input-group
                      %span.input-group-addon
                        = f.radio_button :story, req.story == tag
                      = f.label :pitch_title, tag.parameterize.underscore, :class => 'form-control'
                  = f.text_area  :story



            -#%p Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!
            -#%p
            -#  %strong> Want these icons in this portfolio item sample?
            -#  You can download 60 of them for free, courtesy of
            -#  = succeed "," do
            -#    %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} RoundIcons.com
            -#  or you can purchase the 1500 icon set
            -#  = succeed "." do
            -#    %a{:href => "https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc"} here
            -#%ul.list-inline
            -#  %li Date: July 2014
            -#  %li Client: Round Icons
            -#  %li Category: Graphic Design
            %button.btn.btn-primary{"data-dismiss" => "modal", :type => "button"}
              %i.fa.fa-times
              Save My Story