%section#team.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        %h2.section-heading Team
    .row
      .col-sm-3.col-sm-offset-2
        .team-member
          .white-panel.user_placeholder
            .thumbnail.user-tile.portfolio-item
              = image_tag("https://pbs.twimg.com/profile_images/1210729692/Piyush_400x400.JPG", class: 'img-responsive')
              .caption.post-content
                .row
                  .name.col-md-12.text-center
                    = link_to 'Piyush Gupta', '/gpiyush'
              .row.hero_detail
                .col-lg-12.col-md-12.col-sm-12
                  .emotions
                    .row
                      - %w(#CoFounder #CEO #Engineer #Design #Data #Psychology).each_slice(3) do |emotions|
                        - emotions.each do |emotion|
                          %span.emotion.highlight.col-md-3.text-center
                            = emotion
                    .divider
                    .text-muted.text-justify
                      Currently, MS Student@Carnegie Mellon University, Silicon Valley. Earlier, VP Product@Mobile Banking startup (market leader in India)). Co-founder, VP Engineering@GIS startup (closed). Senior Developer@Accenture.
                  .divider
                  .req_freeze.text-center
                    %span
                      .row
                        .text-center
                          = link_to 'mailto:piyush@request.to?subject=Like to share my thoughts with you', :class => 'btn btn-blue' do
                            %i.fa.fa-envelope
                              = "Start Conversation"

      .col-sm-4.col-sm-offset-1
        .text-center
          Feeling gratitude and not expressing it is like wrapping a gift but not giving it
        .pull-right
          %p - William Arthur Ward
        .clearfix
        .text-justify
          %p
            We're three serious comedians and specialize in complimentary stupidities.
          %p
            Two is us suffer programmer's dyslexia and see real characters in code. We're not visible as we don't yet have an impressive photo. We all are married, so it doesn't matter anyway.
          %p
            The person on the left is the serious most comedian amongst us. He uses his brain only twice, one, to understand human psycology and second to crunch numbers. Rest everything is distraction and too complex for him to handle. Due to his love for numbers, he read two books on numerology. Now we provides free consulting to name new borns with boring names in the entire family.


