.card.hovercard
  .cardheader
  .avatar
    = image_tag(@user.original_image)
  .info
    .title
      = link_to @user.name, @user.twitter
    .desc
      = @user.description.blank? ? "We don't know much about #{@user.name} yet!" : @user.description
    .desc
      %span.badge.danger#member_count
        = @requests.count
      = @wishlist.description
  .bottom
    %a.btn.btn-primary.btn-twitter.btn-sm{:href => "https://twitter.com/#{@user.twitter}", :target => "_blank"}
      %i.fa.fa-twitter