.profile-sidebar
  .profile-userpic
    = image_tag(@user.original_400x400_image, class: 'img-responsive')
  .profile-usertitle
    .profile-usertitle-name
      = link_to @user.name, @user.twitter
    .profile-usertitle-job
      = link_to "https://twitter.com/#{@user.twitter}", :target => '_blank' do
        %i.fa.fa-twitter
        = @user.twitter
    .profile-usertitle-desc
      = @user.description
  - if current_user != @user
    .profile-userbuttons
      - if current_user.following? @user
        %label.btn.btn-success.btn-sm Following
      - else
        %button.btn.btn-primary.btn-sm{:type => 'button'} Add to My List
  .profile-usermenu
    %ul.nav
      %li
        = link_to @user.twitter do
          %span.badge#member_count
            = @following.count
          = @wishlist.description
      %li
        %a{:href => '#'}
          %span.badge
            = @followers
          Followers
      %li
        %a{:href => "#"}
          %i.fa.fa-life-ring
          Helped
      %li
        %a{:href => "#"}
          %i.fa.fa-heart
          Hooked