.thumbnail.with-caption{:id => "user_#{user.id}"}
  %i.fa.fa-times.pull-right.remove-user{:id => "#{user.id}"}
  %img.img-circle{:src => user.image}
    %p
      = user.name
      %small
        %i.fa.fa-twitter.fa-1x
        = user.twitter
      .user-description
        = user.description