.thumbnail.with-caption.user-tile{:id => "user_#{user.id}"}
  %i.fa.fa-times.pull-right.remove-user.hide{:id => "#{user.id}"}
  %img.img-circle{:src => user.original_image}
    %p
      = link_to user.name, user.twitter
      %small
        %i.fa.fa-twitter.fa-1x
        = user.twitter
      .user-description
        = user.description