- user = req.for
.thumbnail.with-caption.user-tile.portfolio-item{:id => "user_#{user.id}"}
  .row
    .col-lg-4
      %a.portfolio-link.pull-left{'data-toggle' => 'modal', :href => "#user_story_#{user.id}"}
        - if !req.story.blank?
          .btn.btn-warning
            %i.fa.fa-question
        - else
          .btn.btn-success
            %i.fa.fa-book
    .col-lg-4
      %img.img-circle{:src => user.original_image}
    .col-lg-4
      .btn.btn-danger.pull-right.remove-user.toggle-display.hide{:id => "#{user.id}"}
        %i.fa.fa-times
  .row
    .col-lg-12
      %p
        = link_to user.name, user.twitter
        %small
          %i.fa.fa-twitter.fa-1x
          = user.twitter
      .user-description
        = user.description
= render :partial => 'home/full_story_modal', :locals => {:req => req}