- if @user.present?
  .container#logged-in-main
    .row
      .col-lg-3.col-sm-6
        = render :partial => 'home/profile_user_tile'

      .col-lg-8#wishlist
        - if current_user == @user
          = render :partial => 'home/twitter_search'

        - if @requests.count < @wishlist.min_count && (current_user.blank? || (current_user && current_user != @user))
          %h4
            = "There are no public lists for #{@user.name}!!"
        - else
          - @requests.each do |request|
            = render :partial => 'home/user_tile', :locals => {:user => request.for}
          - (1..(@wishlist.max_count - @requests.count)).each do
            = render :partial => 'home/user_place_holder_tile'

- else
  = render :partial => 'home/login_page'