- if @user.present?
  .container
    .row
      .col-lg-3
        %div.well
          %div.pull-left
            = image_tag(@user.image, :class => 'img-circle')
          %div.pull-right
            %h4
              = @user.name
            %p.text-muted
              %span.fa-stack.fa-lg
                %i.fa.fa-square-o.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x
              = @user.twitter
            %span.badge#member_count
              = @requests.count
            Members so far
          %div.clearfix
          %br
          %div.text-muted
            = @user.description
      - if current_user == @user || @requests.count >= @wishlist.min_count
        .col-lg-8#wishlist
          %h4
            - if @requests.count >= @wishlist.min_count || (current_user && current_user == @user)
              = 'Top 10 people'
              %strong
                = @user.name
              = 'would like to meet'
            - else
              - if current_user && current_user != @user
                = "There are no public lists for #{@user.name}!!"

          #twitter-search
            - if current_user == @user
              .input-group
                %span.input-group-addon
                  %i.fa.fa-twitter.fa-2x
                %input.typeahead.form-control.input-lg{:placeholder => 'Twitter handle, name, description', :type => 'text', :id => 'typeahead'}
                %span.input-group-addon
                  %i.fa.fa-search.fa-2x

          - @requests.each do |request|
            = render :partial => 'home/user_tile', :locals => {:user => request.for}
          - (1..(@wishlist.max_count - @requests.count)).each do
            = render :partial => 'home/user_place_holder_tile'

    %br
    %br

- else
  .jumbotron
    %h1 Who's on your list?
    %p Tell us who you want to meet and we'll help spread the message
    %p
      = link_to user_omniauth_authorize_path(:twitter), :class => 'btn btn-primary btn-lg' do
        %i.fa.fa-twitter
        = ab_test('sign_in_text')
