- if @user.present?
  %div{align: "center"}
    %h3
      - if @requests.count >= MIN_USER_PER_LIST
        = 'Top 10 people'
        %strong
          = @user.name
        = 'would like to meet'
      - else
        = "There are no public lists for #{@user.name}!!"
  #twitter-search.text-center
    - if current_user == @user
      %input.typeahead.form-control.input-lg{:placeholder => 'Search Twitter', :type => "text", :id => 'typeahead'}
  .container
    .row
      .col-lg-3
        %div.well
          %div.pull-left
            = image_tag(@user.image, :class => 'img-circle', :size => "75x75")
          %div.pull-left
            %h4
              = @user.name
            %p.text-muted
              %span.fa-stack.fa-lg
                %i.fa.fa-square-o.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x
              = @user.twitter
          %div.clearfix
          %br
          %div.text-muted
            = @user.description
      - if @requests.count >= MIN_USER_PER_LIST
        .col-lg-8#wishlist
          - @requests.each do |request|
            = render :partial => 'home/request_for_user', :locals => {:user => request.for}
    %br
    %br

- else
  .jumbotron
    %h1 Who's on your list?
    %p Tell us who you want to meet and we'll help spread the message
    %p= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter), :class=>'btn btn-primary btn-lg'
