- user = req.from_user
.row.admirer
  .col-lg-2.avatar
    = link_to user_home_path(user) do
      = image_tag(user.original_400x400_image, class: 'img-responsive')
  .col-lg-10.details
    .row
      .col-lg-10.story
        %span
          = link_to truncate(user.name, length: 53), user_home_path(user)
        %span.text-muted
          said..
        %p
          %i.fa.fa-quote-left
          = req.story
          %i.fa.fa-quote-right
      .col-lg-2
        - if req.emotion
          %span.emotion.highlight.current_emotion
            = req.emotion
        %span.stats.text-muted
          %span.square-badge
            = user.views.count
          views
        %span.stats.text-muted
          %span.square-badge
            = user.likes.count
          likes
    .divider
    .row
      .col-lg-12
        = render partial: 'requests/reply', :locals => {:req => req}