- user = req.from_user
.media.admirer
  .media-left.pull-left
    = link_to user_home_path(user) do
      = image_tag(user.original_400x400_image, :class => 'media-object')
  .media-body
    .row
      .col-sm-10
        %h4.media-heading
          .name
            = link_to truncate(user.name, length: 53), user_home_path(user)
            %small.muted
              = "@#{user.twitter}"
        .muted
          = truncate(user.description, length: 120)
        %p.story
          = req.story
      .col-sm-2.text-center
        - if req.emotion
          .pitch-btn.btn.btn-warning
            = req.emotion
        - if current_user == @user
          .actions
            = link_to '#', class: 'start-conversation', 'data-sid' => current_user.id, 'data-rip' => user.id do
              %span.fa-stack.chat_icon
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-weixin.fa-inverse.fa-stack-1x
    .row
      .col-sm-10.muted
        %span.col-sm-2.tracker
          = "#{user.views.count} views"
        %span.col-sm-2.tracker
          = "#{user.likes.count} likes"
        - if current_user == @user
          %span.col-sm-2.pull-right
            = link_to "ThankYouSoMuch", "#"
