- user = req.from_user
.row.admirer
  .col-lg-2.avatar
    = link_to user_home_path(user) do
      = image_tag(user.original_400x400_image, class: 'img-responsive')
  .col-lg-10.details
    .row
      .col-lg-10.story
        %span
          = link_to truncate(user.name, length: 53), user_home_path(user)
        %span.text-muted
          says following to you..
        %p
          %i.fa.fa-quote-left
          = req.story
          %i.fa.fa-quote-right
      .col-lg-2
        - if req.emotion
          %span.emotion.highlight.current_emotion
            = req.emotion
        %span.stats.text-muted
          %span.square-badge
            = user.views.count
          views
        %span.stats.text-muted
          %span.square-badge
            = user.likes.count
          likes
    .row
      .col-lg-12.reply
        = form_for Notification.new, url: user_notifications_path(user), remote: true do |f|
          = f.text_field :message
          = f.submit 'ThankYouSoMuch', class: 'btn btn-info'

    -#- if current_user == @user
      = link_to '#', class: 'start-conversation', 'data-sid' => current_user.id, 'data-rip' => user.id do
        %span.fa-stack
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-weixin.fa-inverse.fa-stack-1x
