.right-sidebar
  .education-box.text-muted
    .education-heading.text-center Help
    .education-description.education-links
      %ul.list-group
        %li.list-group-item
          = link_to 'What can I use Request Board for?',  '#', 'data-toggle' => 'modal', 'data-target' => '#whatRequest'
        %li.list-group-item
          = link_to 'Who can I add on my Request Board?',  '#', 'data-toggle' => 'modal', 'data-target' => '#whoRequest'
  .education-box.text-muted
    .education-heading.text-center Simple Rules
    .education-description
      %ol.list-group
        %li.list-group-item You should add at least 3 people. You can add at most 9 people
        %li.list-group-item Each expression/request stays active for 30 days
  .education-box.text-muted
    .education-heading.text-center Sample Boards
    .row.education-description
      - piyush = User.find_by_twitter('gpiyush')
      - yuhuan = User.find_by_twitter('wyhvicky108')
      - unless piyush.blank?
        .sample-board
          .col-xs-4.sample-userpic
            = link_to user_home_path(piyush) do
              = image_tag(piyush.original_400x400_image)
          .col-xs-8.sample-userlink
            = link_to "Piyush's Request Board", user_home_path(piyush)
          .clearfix
      - unless yuhuan.blank?
        .sample-board
          .col-xs-4.sample-userpic
            = link_to user_home_path(yuhuan) do
              = image_tag(yuhuan.original_400x400_image)
          .col-xs-8.sample-userlink
            = link_to "Yuhuan's Request Board", user_home_path(yuhuan)


#whatRequest.modal.education-modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => "modal"} &times;
        %h3.modal-title.text-center
          = "What can I use"
          %strong Request Board
          = "for?"
      .modal-body.nopadding
        = image_tag('what_request.png')

#whoRequest.modal.education-modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{'data-dismiss' => "modal"} &times;
        %h3.modal-title.text-center
          = "Who can I add on my"
          %strong Request Board
          = "?"
      .modal-body.nopadding
        = image_tag('who_request.png')


#userEmail.modal.education-modal.fade{:role => "dialog", 'data-keyboard' => false, 'aria-hidden' => true, 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      .modal-body.modal-blue
        %h3.modal-title.text-center
          = "Help us reach out to you!"
        = render :partial => 'users/finish_signup'



:javascript
  if (!"#{current_user.email}") {
    $('#userEmail').modal();
    $('.modal-backdrop.fade.in').css({'opacity':0.7});
  }
