%span{id: "#{req.id}_req_freeze" }
  - if current_user.can_freeze?(req)
    = link_to freeze_me_user_request_path(req.to_user, req), remote: true do
      Freeze
    &nbsp
    %a.fa.fa-info-circle{'data-content' => "Choose wisely! Slots are limited. Once frozen, you'll not be able to change this request for another 30 days", 'data-toggle' => 'popover', "data-trigger" => 'focus', :role => 'button', :tabindex => "0", :title => 'Freeze my Request', :type => 'button'}
  - else
    = "Frozen on #{req.updated_at.strftime('%b %d, %Y')}"
    &nbsp
    %a.fa.fa-info-circle{'data-content' => "You'll have to wait for another #{req.frozen_until} days to be able to change this request", 'data-toggle' => 'popover', "data-trigger" => 'focus', :role => 'button', :tabindex => "0", :title => 'Freeze my Request', :type => 'button'}