- user = req.to_user
.portfolio-modal.modal.fade{'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1', :id => "user_story_#{user.id}"}
  .modal-content
    .close-modal{'data-dismiss' => 'modal'}
      .lr
        .rl
    .container
      .modal-body
        .row
          .col-lg-10.col-lg-offset-1
            .col-lg-4
              .row
                = image_tag(user.original_image, :class => 'img-responsive .img-centered')
              .row
                %h2
                  = user.name
                %p.item-intro.text-muted
                  %i.fa.fa-twitter.fa-1x
                  =user.twitter
            .col-lg-8
              .row#msform
                = form_for([req.from_user, req], remote: true) do |f|
                  - if req.story.present?
                    %fieldset
                      %h3.fs-subtitle
                        .btn{class: "btn btn-#{Request::Tags[req.pitch_list.first.try(:humanize)]}"}
                          = req.pitch_list.first
                      .row
                        = req.story
                      - if current_user == req.from_user
                        %input.next.action-button{:name => 'next', :type => 'button', :value => 'Modify'}
                  - if current_user == req.from_user
                    %fieldset
                      %h2.fs-title Why?
                      %h3.fs-subtitle Please choose one below
                      = f.text_field :pitch_list, {class: 'hide pitch-list'}
                      - Request::Tags.each do |tag, tag_class|
                        = f.label :pitch_list_label, {:class => "pitch-btn btn btn-#{tag_class}", id: tag} do
                          .row
                            .col-lg-10
                              = tag
                            .col-lg-2
                              - if tag == req.pitch_list[0]
                                %i.fa.fa-check-circle-o.pull-right.fa-2x
                      - if req.story.present?
                        %input.previous.action-button{:name => 'previous', :type => 'button', :value => 'Cancel'}
                    %fieldset
                      %h2.fs-title Message
                      %h3.fs-subtitle
                        = f.label 'You have not specified why you are reaching out', id: 'why_reaching_out'
                      = f.text_area :story, size: '100x10'
                      %input.previous.action-button{:name => 'previous', :type => 'button', :value => 'Why?'}
                      -#%input.submit.action-button{:name => 'submit', :type => 'submit', :value => 'Submit'}
                      %input.next.action-button{:name => 'next', :type => 'button', :value => 'Submit'}
                    %fieldset
                      %h2.fs-title Congratulations!
                      %h3.fs-subtitle
                        = "We will connect with #{user.name} on your behalf!"
                      %p.text-muted
                        = 'We recommend you to let the people who care for you know about your request, so that they can'
                        %strong 'Endorse'
                        = 'you.'
                      %p.text-muted
                        = 'Who knows someone may be able to introduce you to Ryan directly.'
                      = text_area_tag :tweet_text, "I'm looking to connect and meet with some important people. I have published my list on #requestApp http://www.request.to/#{current_user.twitter}", size: '70x3'

                      %input.submit.action-button{:name => 'submit', :type => 'submit', :value => 'Dont Tweet'}
                      %input.submit.action-button{:name => 'submit', :type => 'submit', :value => 'Tweet'}



