- if @user.present?
  .container#logged-in-main
    .row
      .col-lg-12
        .unobtrusive-flash-container
    .row
      .col-lg-3
        = render :partial => 'requests/profile_user_tile'
      .col-lg-9#wishlist
        .row
          .col-sm-12
            = render :partial => 'requests/admirer_menu'
            -#%ul.nav.nav-pills
            -#  - Request::Tags.each do |tag, tag_class|
            -#    %li.active
            -#      %a{:href => '#', :class => "btn #{tag_class(tag)}"}
            -#        =tag
        - @admirers.each do |admirer|
          = render :partial => 'requests/admirer_tile', :locals => {:req => admirer}

- else
  = render :partial => 'home/login_page'