:javascript
  tags = #{@report.tags.to_json}

.row
  .col-lg-3
    = render :partial => 'users/profile_user_tile'
  .col-lg-9#wishlist
    = render :partial => 'requests/admirer_menu'

    .tab-content
      #summary.tab-pane.active
        %div#requestChartContainer {style: 'min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;'}
      #all.tab-pane
        %br
        .row
          .admirer-menu.col-lg-10
            - Request::Tags.each_key do |tag|
              %a{:href => '#', :class => "pitch-btn btn #{tag_class(tag)}"}
                =tag
        - @admirers.each do |admirer|
          = render :partial => 'requests/admirer_tile', :locals => {:req => admirer}

:javascript
  $('#requestChartContainer').highcharts({
              credits: {
                  enabled: false
              },
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: 'People are looking forward to catchup with you!'
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: false
                      },
                      showInLegend: true
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Requests',
                  data: tags
              }]
          });