.row
  .col-md-3
    = render :partial => 'users/profile_user_tile'

  .col-md-7
    .row
      .col-md-12
        = render :partial => 'users/twitter_search'
    .row
      .col-md-12
        - if @following.blank? && (current_user.blank? || current_user != @user)
          %h4
            = "#{@user.name} is yet to add people on RequestBoard !!"
        - else
          #wishlist.pinterest_list
            - if current_user.present? && current_user == @user
              = render :partial => 'users/user_place_holder_tile'
            - @following.each do |request|
              = render :partial => 'users/user_tile', :locals => {:req => request}
  - if current_user == @user
    .col-md-2.nopadding
      = render :partial => 'requests/education_sidebar'





#userEmail.modal.education-modal.fade{:role => "dialog", 'data-keyboard' => false, 'aria-hidden' => true, 'data-backdrop' => 'static'}
  .modal-dialog
    .modal-content
      .modal-body.modal-blue
        %h3.modal-title.text-center
          = "Help us reach out to you!"
        = render :partial => 'users/finish_signup'


- if current_page?(user_home_path(current_user))
  :javascript
    if (!"#{current_user.email.present?}") {
      $('#userEmail').modal();
      $('.modal-backdrop.fade.in').css({'opacity':0.7});
    }
    else if (("#{current_user.sign_in_count}" < 5) && ("#{@following.count}" == 0)) {
      $('body').chardinJs('start');
    }

:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1607812102790861',
      xfbml      : true,
      version    : 'v2.4'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));