<%= form_for(@eligibility) do |f| %>
  <% if @eligibility.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eligibility.errors.count, "error") %> prohibited this eligibility from being saved:</h2>

      <ul>
      <% @eligibility.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :designation %><br>
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :explore %><br>
    <%= f.text_field :explore %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.text_area :interest %>
  </div>
  <div class="field">
    <%= f.label :priority %><br>
    <%= f.text_area :priority %>
  </div>
  <div class="field">
    <%= f.label :meet %><br>
    <%= f.text_field :meet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
