<p id="notice"><%= notice %></p>

<p>
  <strong>Designation:</strong>
  <%= @eligibility.designation %>
</p>

<p>
  <strong>Explore:</strong>
  <%= @eligibility.explore %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @eligibility.interest %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @eligibility.priority %>
</p>

<p>
  <strong>Meet:</strong>
  <%= @eligibility.meet %>
</p>

<%= link_to 'Edit', edit_eligibility_path(@eligibility) %> |
<%= link_to 'Back', eligibilities_path %>
