%p#notice
  = notice

%div{align: "center"}
  %h3
    = @wishlist.name
  %inline
    = @wishlist.description
%br
%br
.container
  .row
    .col-lg-3
      %div.well
        = image_tag(@user.image, :class => 'img-circle')
        =@user.name
        %p
          = "Twitter: #{@user.twitter}"
    .col-lg-8.col-lg-offset-1
      - (1..@wishlist.limit).each do |user|
        = image_tag("add_user.png", size: "120x120", :style => "margin:20px;")
%br
%br
