%li.dropdown
  %a.dropdown-toggle{"data-toggle" => 'dropdown', :href => '#'}
    %span.fa-stack.fa-1x
      %i.fa.fa-bell-o.fa-stack-2x
      %strong.fa-stack-1x#notification-count
        - unread = current_user.notifications.unread
        = unread.present? ? unread.count : ''
  %ul.dropdown-menu
    .notifications
      = render :partial => 'notifications/notifications', locals: {user: current_user}
%li
  = link_to user_home_path(current_user) do
    = image_tag(current_user.image, :class => 'img-circle')
%li
  = link_to sign_out_path do
    %i.fa.fa-sign-out.fa-2x